<!DOCTYPE html>

<html lang="en">

    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <!-- documentation at http://getbootstrap.com/docs/4.1/, alternative themes at https://bootswatch.com/ -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/style.css" rel="stylesheet">
        <link href="/static/img/favicon.ico" rel="icon">

        <title>House of Books</title>

    </head>

    <body>
    	<div class="container">
  			<div class="row">
    			<div class="col-7" >
      				<p class="lead">Welcome to The House of Books, here you can find any title you like and read the reviews from all over the world.
      					<br>
    					Become a valuable member of The House of Books.
    					<br>
    					<br>
    					~~T.H.o.B~~
    				</p>	
    			</div>
    		</div>
    		<div class="row">
    			<div class="col-7">
    				<div class="img-overlay min-height">
      					<button class="btn btn-responsive btn-info"><a class="nounderline" href="/login">LOGIN</a></button>
	      				<button class="btn btn-responsive btn-info"><a class="nounderline" href="/register">REGISTER</a></button>
	      			</div>	
    			</div>
  			</div>
		</div>
	</body>
</html>	

